@import "tailwindcss";

@theme inline {
  --font-roboto: var(--font-roboto);
  --font-playfair: var(--font-playfair);

  --color-primary: #272626;
  --color-primary-75: rgb(39 38 38 / 75%);
  --color-primary-50: rgb(39 38 38 / 50%);
  --color-primary-25: rgb(39 38 38 / 25%);
  --color-neutral-500: #838383;
  --color-neutral-600: #565454;
  --color-primary-dark: #222121;
  --color-secondary: #e1e0e0;
  --color-secondary-75: rgb(225 224 224 / 75%);
  --color-secondary-50: rgb(225 224 224 / 50%);
  --color-secondary-25: rgb(225 224 224 / 25%);

  --color-blue: #3a5c86;
  --color-blue-dark: #152e50;
  --color-blue-light: #7ca5d8;
  --color-gray: #4e4e4e;
  --color-gray-light: #c5c5c5;
  --color-red: #c81919;
  --color-red-dark: #602a28;
  --color-red-light: #d97a77;
  --color-yellow-dark: #483a0f;
  --color-yellow: #ce9e40;
  --color-green-dark: #1b4614;
  --color-green: #7ab948;

  --background-image-gradient-primary: linear-gradient(
    180deg,
    rgba(39, 38, 38, 1) 11%,
    rgba(39, 38, 38, 0.85) 23%,
    rgba(39, 38, 38, 0.01) 68%,
    rgba(39, 38, 38, 1) 91%
  );

  --background-image-header:
    var(--background-image-gradient-primary), url("/images/herosection-bg.png");

  --background-image-gradient-primary-5deg: linear-gradient(
    0deg,
    rgba(225, 224, 224, 1) 34%,
    rgba(39, 38, 38, 1) 34%
  );

  --background-image-gradient-primary-172deg: linear-gradient(
    176deg,
    rgba(225, 224, 224, 1) 70%,
    rgba(39, 38, 38, 1) 70%
  );

  --breakpoint-xs: 23.4375rem;
  --breakpoint-sm: 26.5625rem;
  --breakpoint-3xl: 120rem;
}

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-neutral-700);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-secondary-75);
    border-radius: 0.25rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-secondary);
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary-75) var(--color-neutral-700);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-text-fill-color: var(--color-secondary) !important;
    caret-color: var(--color-secondary) !important;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@layer utilities {
  @keyframes enable-scroll {
    to {
      overflow-y: auto;
    }
  }

  .animate-enable-scroll {
    animation: enable-scroll 0s forwards;
    animation-delay: 0.3s;
  }

  .dropdown-scrollbar::-webkit-scrollbar {
    width: 10px;
  }

  .dropdown-scrollbar::-webkit-scrollbar-track {
    background: var(--color-secondary-25);
  }

  .dropdown-scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-secondary-50);
  }

  .dropdown-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary-50) var(--color-secondary-25);
  }
}

@layer utilities {
  .transition-default {
    @apply transition duration-300 ease-in-out;
  }
}
